@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('./assets/background.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom-date-input::-webkit-calendar-picker-indicator
{
    opacity: 0;
    display: block;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
}